.foru{
    width: 500px;
    height: 100px;
    margin: 0 0 0 270px;
}
.post{
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(68, 68, 68);
    padding-bottom: 20px;
}
.titlebar{
    display: flex; 
    flex-direction: row;
    padding: 12px 0 18px 0;
    
}
.foru-pho{
    width: 38px;
    height: 38px;
    border-radius: 25px;
}
.foru-username{
    font-size: 13px;
    font-weight:bold;
    color: white;
    margin: 7px 0 0 10px;    
}
.loc{
 margin: 0;  
 font-size: 12px; 
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: white;
 margin-left: 10px;
}
.check{
    width: 13px;
    height: 13px;
    filter: invert(100%);
    margin: 9px 0 0 -7px;
}
.dots{
    margin-left: 300px;
    width: 16px;
    filter: invert(100%);
    margin: 10px 0 0 300px ;
}
.photo{
 width: 500px;   
}
.like{
    display: flex;
    flex-direction: row;
}
.heart,.save{
    width: 24px;
    filter: invert(100%);
    margin: 10px 20px 0 0;
}
.save{
    width: 16px;
    margin-left: 353px;
}
.com-div{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.likes{
    margin:5px 0 0 0  ;
    font-size: 13px;
}
.captions,.com{
    font-size: 13px;
    margin:5px 0 0 0 
}
span{
    font-weight: 600;
}
.com,.heart:hover{
    cursor: pointer;
}
